<ion-view view-title="DashBoard" cache-view="false">
    <ion-content center text-center ng-class="{expanded:$scope.isExpanded}" style="background-color: #000000">
        <ion-refresher ng-hide="currentRole=='ROLE_BARMAN' ||currentRole=='ROLE_SUPER_ADMIN'" on-refresh="doRefresh()"
                       pulling-text="Tirez pour rafraichir.."
                       refreshing-text="Chargement!"
                       refreshing-icon="ion-loading-c">

        </ion-refresher>
        <div class="hero " >
            <div class="content">
                <h3 ng-hide="currentRole=='ROLE_BARMAN' ||currentRole=='ROLE_SUPER_ADMIN'"><a class="head light">{{firstName}}  {{lastName}}</a></h3>
                <h3 ><a class="light">{{username}}</a></h3>
                <h4 ng-hide="currentRole=='ROLE_BARMAN' ||currentRole=='ROLE_SUPER_ADMIN'"><a class="light">Solde : {{moneyBalance}}€</a></h4>
                <h4 ng-hide="currentRole=='ROLE_BARMAN' ||currentRole=='ROLE_SUPER_ADMIN'"><a class="light">Solde disponible : {{availableBalance}}€</a></h4>
                <h4 ng-hide="currentRole=='ROLE_BARMAN' ||currentRole=='ROLE_SUPER_ADMIN'" ng-hide="godfatherCredentials==undefined" ><a class="head">Parrain :{{godfatherCredentials}}</a></h4>
            </div>
        </div>

        <div class="row row-center">
            <div class="col col-center">
                <button ng-click="showAccounts()"class="button  icon-left ion-ios-list button-block button-default-ios custom-button">
                    Mes comptes
                </button>
                <div ng-show="accountsShown && (currentRole=='ROLE_USER' || currentRole=='ROLE_ADMIN') ">
                    <div class="card custom-card" text-center >
                        <button ng-click="goListOrders()" class="button button-clear button-block icon-top ion-beer button-calm"> Commandes</button><hr>
                        <button ng-click="goListMoneyFlows('positive')" class="button button-clear button-block icon-top ion-forward button-positive"> Recharges </button><hr>
                        <button ng-click="goListMoneyFlows('negative')" class="button button-clear  button-block icon-top ion-reply button-assertive"> Remboursements </button>
                    </div>
                </div>
                <div  ng-show="accountsShown &&currentRole=='ROLE_BARMAN' ">
                    <div class="card custom-card" text-center >
                        <button ng-click="goListOrdersCash()" class="button button-clear button-block icon-top ion-cash button-energized"> Commandes Cash</button><hr>
                        <button ng-click="goListOrdersBarman()" class="button button-clear button-block icon-top ion-beer button-calm"> Commandes Ivrogne</button><hr>
                        <button ng-click="goListMoneyFlowsBank('negative')" class="button button-clear button-block icon-top ion-forward button-positive"> Recharges</button><hr>
                        <button ng-click="goListMoneyFlowsBank('positive')" class="button button-clear  button-block icon-top ion-reply button-assertive"> Remboursements </button>
                    </div>
                </div>
                <button ng-hide="currentRole=='ROLE_SUPER_ADMIN'" ng-click="goOrder()" class="button icon-left ion-beer button-block button-default-ios custom-button ">
                   Commande
                </button>
                <button ng-hide="currentRole=='ROLE_SUPER_ADMIN'"ng-click="goMoneyFlow()" class="button icon-left ion-social-usd button-block button-default-ios custom-button ">
                    Transfert
                </button>
                <button ng-click="goScript()" class="button icon-left ion-social-tux button-block button-default-ios custom-button">
                    Scripts
                </button>
                <button ng-hide="currentRole=='ROLE_BARMAN' ||currentRole=='ROLE_SUPER_ADMIN'" ng-click="goNefew()" class="button icon-left ion-android-contacts button-block button-default-ios button-ios-light custom-button">
                    Filleuls
                </button>
                <button class="button icon-left ion-pie-graph button-block button-default-ios custom-button">
                    Statistiques
                </button>
                <button ng-click="goEdit()"  class="button icon-left  ion-gear-b button-block button-default-ios custom-button">
                    Edition compte
                </button>

            </div>
        </div>
        <div class="content">
            <div class="app-icon"></div>

        </div>
    </ion-content>
</ion-view>