<ion-view view-title="Edition compte" align-title="left">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="content has-header">
            <div class="card">
                <button ng-click ="updateRfid()" class="button button-full icon-right ion-card button-default-ios custom-button">Ajouter/Modifier carte rfid</button>
                <button ng-click ="removeRfid()" class="button button-full icon-right ion-eject button-default-ios custom-button">Délier la carte rfid</button>
            </div>
            <div class="card" ng-hide="currentRole=='ROLE_BARMAN' ||currentRole=='ROLE_SUPER_ADMIN' " >
                <div class="item item-divider">
                    <label class="item item-input">
                        <span class="input-label">Nom d'utilisateur: </span>
                        <input ng-model="username" type="text">
                    </label>
                </div>
                <div class="item item-divider">
                    <label class="item item-input">
                        <span class="input-label">Prénom: </span>
                        <input ng-model="firstName" type="text">
                    </label>
                </div>
                <div class="item item-divider">
                    <label class="item item-input">
                        <span class="input-label">Nom: </span>
                        <input ng-model="lastName" type="text">
                    </label>
                </div>
                <button ng-click="updateUserDetails(firstName, lastName, username)" class="button button-full icon-right ion-person-stalker button-default-ios custom-button">Modifier infos</button>
            </div>

            <div class="card">
                <div class="item item-divider">
                    <label class="item item-input">
                        <span class="input-label">e-mail: </span>
                        <input ng-model="email" type="email">
                    </label>
                </div>
                <button ng-click="updateUserEmail(email)" class="button button-full icon-right ion-person-stalker button-default-ios custom-button">Modifier e-mail</button>
            </div>
            <div class="card">
                <div class="item item-divider">
                    <label class="item item-input">
                        <span class="input-label">Ancien mot de passe: </span>
                        <input ng-model="oldPassword" type="password">
                    </label>
                </div>

                <div class="item item-divider">
                    <label class="item item-input">
                        <span class="input-label">Nouveau mot de passe: </span>
                        <input ng-model="password1" type="password">
                    </label>
                </div>
                <div class="item item-divider">
                    <label class="item item-input">
                        <span class="input-label">Confirmation: </span>
                        <input ng-model="password2" type="password">
                    </label>
                </div>
                <button ng-click ="updateUserPassword(oldPassword, password1,password2); oldPassword=undefined; password1 = undefined; password2=unefined" class="button button-full icon-right ion-person-stalker button-default-ios custom-button">Modifier mot-de-passe</button>
            </div>
        </div>
    </ion-content>
</ion-view>
