<ion-view view-title="Liste des opérations" cache-view="false">
    <ion-content  ng-class="{expanded:$scope.isExpanded}">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <div  class="hero " style="background-image: url('img/dash-bg.jpg');">
            <div class="content">
                <h3><a class="head">Liste des commandes effectuées</a></h3>
                <h4><a class="head">{{firstName}}  {{lastName}}</a></h4>
                <h5><a class="head">Solde :{{moneyBalance}}€</a></h5>
                <h5><a class="head">Solde disponible :{{availableBalance}}€</a></h5>
            </div>
        </div>

        <ion-item class="item-accordion" ng-repeat="order in orders" >
            <div class="{{classOrder(order.is_cancelled)}} text-center" ng-click="showOrder(order.id)">
                N° {{order.id}} - Montant : {{order.order_price}}€ - {{formatDate(order.created_at)}}
            </div>
        </ion-item>
        <ion-infinite-scroll immediate-check="false" ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" ></ion-infinite-scroll>

    </ion-content>
</ion-view>
