<ion-view view-title="Scripts" align-title="left">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="content has-header">
            <button ng-click="turnBarOn()" class="button button-full icon-left ion-ios-lightbulb-outline button-default-ios custom-button"> Allumer tout le bar </button>
            <button ng-click="turnBarOff()" class="button button-full icon-left ion-power button-default-ios custom-button"> Eteindre tout le bar </button>
            <button  ng-click="turnFridgeOn()" class="button button-full icon-left ion-ios-lightbulb-outline button-default-ios custom-button"> Allumer frigo</button>
            <button  ng-click="turnFridgeOff()" class="button button-full icon-left ion-power button-default-ios custom-button">Eteindre frigo</button>
            <button  ng-click="openRegister()" class="button button-full icon-left ion-ios-lightbulb-outline button-default-ios custom-button"> Ouvrir caisse (IN PROGRESS) </button>
            <button  ng-click="closeRegister()" class="button button-full icon-left ion-power button-default-ios custom-button">Fermer caisse (IN PROGRESS)</button>
            <button  ng-click="turnMusicOn()" class="button button-full icon-left ion-ios-lightbulb-outline button-default-ios custom-button"> Allumer musique</button>
            <button  ng-click="turnMusicOff()" class="button button-full icon-left ion-power button-default-ios custom-button">Eteindre musique</button>
            <button  ng-click="turnLightOn()" class="button button-full icon-left ion-ios-lightbulb-outline button-default-ios custom-button"> Allumer lumière</button>
            <button  ng-click="turnLightOff()" class="button button-full icon-left ion-power button-default-ios custom-button">Eteindre lumière</button>
            <button  ng-click="turnEcranOn()" class="button button-full icon-left ion-ios-lightbulb-outline button-default-ios custom-button"> Allumer écrans</button>
            <button  ng-click="turnEcranOff()" class="button button-full icon-left ion-power button-default-ios custom-button">Eteindre écrans</button>
            <button  ng-click="turnCocktailOn()" class="button button-full icon-left ion-ios-lightbulb-outline button-default-ios custom-button"> Allumer Cocktail Maker</button>
            <button  ng-click="turnCocktailOff()" class="button button-full icon-left ion-power button-default-ios custom-button">Eteindre Cocktail Maker</button>
        </div>
    </ion-content>
</ion-view>
