<ion-view view-title="Statistiques" align-title="left">
 <ion-content ng-class="{expanded:$scope.isExpanded}">
 <div class="content has-header">
   <div ng-show='showPrivilege("ROLE_ADMIN")' class="card">
     <div class="item item-divider">
       Statistiques d'administrateur
     </div>
     <p>
       Total des dettes dues à l'ivrogne : <a class="negative"> {{totalNegativeBalance}} €</a> </br>
       Total de l'argent sur les comptes personnels pas encore dépensé (dettes de l'ivrogne) : <a class="positive"> {{totalPositiveBalance}} €</a> <br>
     </p>
     <button class="button button-full button-calm" ng-click="toggleGroup(allGodfathers)" ng-class="{active: isGroupShown(allGodfathers)}">
       <i class="icon" ng-class="isGroupShown(allGodfathers) ? 'ion-minus' : 'ion-plus'"></i> Parrains/filleuls
     </button>
     <ion-item  class="item-accordion" ng-repeat="godfather in allGodfathers" ng-show="isGroupShown(allGodfathers)">
       <div class="list ">
         <div class="item item-divider">{{godfather.firstname}} {{godfather.lastname}} alias {{godfather.username}}</div>
         <ion-item>
           Solde du parrain seul: <a class="{{colourClass(getPersonnalAccount(godfather.user_accounts).money_balance)}}"> {{getPersonnalAccount(godfather.user_accounts).money_balance}} €</a> <br>
           <i ng-hide="godfather.nefews.length==0">Solde total (filleuls compris): <a class="{{colourClass(godfather.totalDebt)}}">{{godfather.totalDebt}} €</a></i>
           <i ng-show="godfather.nefews.length==0">Ce parrain n'a pas encore de filleul.</i>
         </ion-item>
         <button ng-hide="godfather.nefews.length==0" class="button button-clear button-positive" ng-click="toggleUnderGroup(godfather.nefews)" ng-class="{active: isUnderGroupShown(godfather.nefews)}">
           <i class="icon" ng-class="isUnderGroupShown(godfather.nefews) ? 'ion-minus' : 'ion-plus'"></i> Voir soldes filleuls
         </button>

         <ion-item class="item-accordion" ng-repeat="nefew in godfather.nefews" ng-show="isUnderGroupShown(godfather.nefews)">
           <div class="list animate-fade-slide-in-right">
             {{nefew.firstname}} {{nefew.lastname}} alias {{nefew.username}}<br>
             Solde compte: <a class="{{colourClass(getPersonnalAccount(nefew.user_accounts).money_balance)}}">{{getPersonnalAccount(nefew.user_accounts).money_balance}} €</a>
           </div>
         </ion-item>
       </div>
     </ion-item>
     <button class="button button-full button-calm" ng-click="toggleGroup(allUnsponsoredUsers)" ng-class="{active: isGroupShown(allUnsponsoredUsers)}">
       <i class="icon" ng-class="isGroupShown(allUnsponsoredUsers) ? 'ion-minus' : 'ion-plus'"></i> Clients non-sponsorisés
     </button>
     <ion-item  class="item-accordion" ng-repeat="unsposoredUser in allUnsponsoredUsers" ng-show="isGroupShown(allUnsponsoredUsers)">
       <div class="list ">
         <div class="item item-divider">{{unsposoredUser.firstname}} {{unsposoredUser.lastname}} alias {{unsposoredUser.username}}</div>
         <ion-item>
           Solde du client: <a class="{{colourClass(getPersonnalAccount(unsposoredUser.user_accounts).money_balance)}}"> {{getPersonnalAccount(unsposoredUser.user_accounts).money_balance}} €</a> <br>
         </ion-item>
       </div>
     </ion-item>
   </div>

    <div class="tabs tabs-dark tabs-icon-top static animate-fade-slide-in-right">

        <a class="tab-item" ui-sref="app.order">
          <i class="icon ion-beer"  ></i> Commandes
        </a>
      <a class="tab-item" ui-sref="app.activity" nav-clear>
        <i class="icon ion-arrow-graph-up-right"></i>  Activités
      </a>
        <a class="tab-item" ui-sref="app.money_flow">
          <i class="icon ion-cash"></i> Money
        </a>
         <a  ng-show='showPrivilege("ROLE_ADMIN")' class="tab-item" ui-sref="app.script">
          <i class="icon ion-social-tux"></i> Scripts
        </a>
        <a  class="tab-item" ui-sref="app.statistic">
          <i class="icon ion-pie-graph"></i> Statistiques
        </a>
        <a  class="tab-item" ui-sref="app.edit">
          <i class="icon ion-gear-b"></i> Editer
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
