<ion-view view-title="Statistiques" cache-view="false">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero " >
            <div class="content">
                <h4><a class="head">WORK IN PROGRESS</a></h4>

            </div>
        </div>
        <div class="item item-divider">
            Comptes des utilisateurs
        </div>
        <button class="button icon-left ion-person-stalker button-block button-default-ios custom-button" modal_select="" on-select="goCommand(selectedClient)" modal-title="Sélection du client" cancel-button="Back" search-placeholder="Nom, prénom, admin, user, ..." ok-button="OK" ng-model="selectedClient" options="users" has-search="true" search-properties="search_properties_users">
            Commandes d'un utilisateur
            <div class="option">
                <h2>{{option.firstname}} {{option.lastname}} </h2>
                <p>Solde disponible : {{option.user_accounts[0].available_balance}}€</p>
                <p ng-show="option.role=='ROLE_ADMIN'">Administrateur</p>
                <p ng-show="option.role=='ROLE_USER'">Utilisateur</p>
                <p ng-show="option.godfather!=undefined">Parrain : {{option.godfather.firstname}} {{option.godfathers.lastname}}</p>
            </div>
        </button>
    </ion-content>
</ion-view>