/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}
.larger {
  font-size: 40px !important;
}
input{
    text-align:center;
}

.head {
    color: black;
}
.positive {
    color: #47BF1B !important;
}
.negative {
    color: red !important;
}
.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.custom-card{
    width: 50%;
    margin-left:25%;
}
.custom-button{
    width: 70% !important;
    margin-left:15%;

}
.custom-button-login{
    width: 70% !important;
    margin-left:0%;

}



/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}
.title-bordered2 {
    border-top: solid 2px #bbb;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}

/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

/* List orders / List Money Flows
==================================*/
.active-operation{
    background-color: #BBDEFB;
}
.cancel-operation{
    background-color: #d54f38;
}

/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/logo-ivrogne.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 150px;
    margin: 0 auto;
    width: 150px;
}
.app-icon-dashboard{
    background-color: #fff;
    background: url('../img/logo-ivrogne.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top:0px;
    margin-bottom:100px;
    margin-right:20px;
}

.social-login {
    position: fixed;
    bottom: 0;
}
.login-button{
    margin: auto;
    padding: 10px;
    text-align: center;
}
